<?xml version="1.0"?>
<opencv_storage>
<cardphotopath>D:/photo</cardphotopath>
<copypath>D:/photoCopy</copypath>
<savepath>D:/FaceData</savepath>
<up_hour>12</up_hour>
<up_minute>0</up_minute>
<delete_hour>12</delete_hour>
<delete_minute>0</delete_minute>
<FD_iterations>5</FD_iterations>
<show_width>800</show_width>
<show_height>600</show_height>
<pic_width>128</pic_width>
<pic_height>96</pic_height>
<window_scale>0.1</window_scale>
<filesum>1</filesum>
</opencv_storage>
